.margencert{
    padding-left: 20em;
}
.img{
    height: 
    250px;
}
.titulos{   
    font-size: 50px;
}
.parrafo{
    font-size: 20px;
}
.proyectos{
    background-image: radial-gradient(circle at 50% 7.28%, #d2ff97 0, #b9ff9f 10%, #9dffa7 20%, #80ffad 30%, #61ffb2 40%, #3cf2b5 50%, #00e4b6 60%, #00d7b8 70%, #00ccba 80%, #00c3bc 90%, #00bbbf 100%);
}
.logo{
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
}
.caja{
    height: 36em;
}
.encabezado{  
    height: 100%;
    margin-right: 0px;
}
.flexin{
    display: flex;
    justify-content: space-between;
}
.proyectos2{
    background-image: linear-gradient(195deg, #959686 0, #6f6f79 25%, #434b6b 50%, #002b5d 75%, #000f50 100%);
    color: white;
}
.letrasecoran{
    font-size: 30px;
    font-weight: bold; 
}
.fondodatospers{
    background-image: radial-gradient(circle at 59.27% 38.95%, #71b765 0, #5dad66 25%, #49a166 50%, #359565 75%, #208a65 100%);}
.letrablanca{
    color: white;
    
}

.logoli{
    height: 30px;
    width: 30px;
    
}
.cararobot{
    height: 50px;
    width: 65px;
    

}

.animacioncolor:hover{
    animation: animacion1 0.3s ease 0s reverse ,mover1 1s ease-in-out 0s;
    

}

@keyframes animacion1 {

    0% , 10%{
        
        background-image: radial-gradient(circle at 50% -20.71%, #e6f87e 0, #d3f880 12.5%, #b9f27d 25%, #98e876 37.5%, #6cd86c 50%, #2ec865 62.5%, #00bd65 75%, #00b66c 87.5%, #00b379 100%);
    }
    20% , 30% , 40%{
        background-image: radial-gradient(circle at 50.82% 40.61%, #e6f87e 0, #d3f880 12.5%, #b9f27d 25%, #98e876 37.5%, #6cd86c 50%, #2ec865 62.5%, #00bd65 75%, #00b66c 87.5%, #00b379 100%);
        
    }

    50% , 60% ,80%{
        
        background-image: radial-gradient(circle at 50% 81.5%, #e6f87e 0, #d3f880 12.5%, #b9f27d 25%, #98e876 37.5%, #6cd86c 50%, #2ec865 62.5%, #00bd65 75%, #00b66c 87.5%, #00b379 100%);
    }
    100% , 90% {
        
    background-image: radial-gradient(circle at 50% 120.71%, #e6f87e 0, #d3f880 12.5%, #b9f27d 25%, #98e876 37.5%, #6cd86c 50%, #2ec865 62.5%, #00bd65 75%, #00b66c 87.5%, #00b379 100%);
    }

    
}
.fotoanimada:hover{
   animation: foto 1s forwards ;
    
}

@keyframes foto {
    20%{
        opacity: 30%;
    }

    100%,50%{
        height: 30rem;
        width: 24rem;
        margin: 0px;
        padding-top: 0px;
        }
}


.animacionmov{
    animation: mover 1s;
}

@keyframes mover {
    50%{ 
        transform: translateY(-17%)
        }
    
}

@keyframes mover1 {
    
        
        50%{ 
            transform: translateY(-8%)
            } 
    

}

:root{
    --clyppy: polygon(0 1%, 0 0, 0 100%, 0 100%);

}

@keyframes letras {
    0%,50%,80%{
        
        display: block;
        background: #868585;
        height: 100%;
        top: 0;
        left: 0;  
        clip-path: var(--clyppy);
        z-index: -1;
        }

    100%{
        clip-path: polygon(0 1%, 78% 0, 100% 100%, 0 100%);
    }
    
}


.movletras{
    position: relative;
animation: letras 1s ease;
}


@keyframes letras1 {
    0%,30%,40%,50%,60%,70%,80%,90%{
        background: hwb(164 14% 31%);
        height: 100%;
        top: 0;
        left: 0;  
        opacity: 0%;
        }

    100%{
        clip-path: circle(50% at 50% 50%);

    }
     }

     .movletras1:hover{
        animation: letras1 1s ease ;
        
     }
     
