.margen{    
    padding: 0px;
}
.img{
    height: 
    380px;
}
.titulos{   
    font-size: 50px;
}
.parrafo{
    font-size: 20px;
}
.proyectos{
    background-image: radial-gradient(circle at 50% 7.28%, #d2ff97 0, #b9ff9f 10%, #9dffa7 20%, #80ffad 30%, #61ffb2 40%, #3cf2b5 50%, #00e4b6 60%, #00d7b8 70%, #00ccba 80%, #00c3bc 90%, #00bbbf 100%);
}
.logo{
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
}
.centrar{
    display: flex;
    justify-content: center;
}
.caja{
    height: 40rem;
    width: 40rem;
}
.encabezado{  
    height: 100%;
    margin-right: 0px;
}
.margentop{
    margin-top: 2.5em;
}
.flexin{
    display: flex;
    justify-content: space-between;
}
.proyectos2{
    background-image: linear-gradient(195deg, #959686 0, #6f6f79 25%, #434b6b 50%, #002b5d 75%, #000f50 100%);
    color: white;
}
.letrasecoran{
    font-size: 30px;
    font-weight: bold; 
}